<!DOCTYPE html>
<html lang="en">
<head>
<title>PURCHASE PREDICTION</title>
<link rel="stylesheet"  href="../static/style.css">
</head>
<body>
  <h2>PURCHASE PREDICTION</h2>
  <form action="/Prediction" method="post">
    <label for ="Gender">Gender: </label>
    <input list="gend" name="Gender">
  
    <datalist id="gend">
            <option value=" Male" />
            <option value="Female" />           
    </datalist><br><br>
    
    <label for="Age">Age:</label><br>
    <input type="number" id="Age" name="Age"><br><br>
    
    <label for="Salary">Salary:</label><br>
    <input type="number" id="Salary" name="Salary"><br><br>
    
    <input type="submit" value="Submit">
  </form>
</body> 
</html>